@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin-bottom: 6rem;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npmLogo {
  width: 75px;
}

/*------Search Bar------*/

  .search {
    display: flex;
    background-color: rgba(0,0,0,.05);
    width: 50%;
    justify-content: space-between;
  }

  .search > button {
    background-color: #fb3e44;
    color: white;
    border: 0px;
    padding: .5rem 2rem;
    font-weight: bolder;
  }

  .searchBar {
    display: flex;
    border: 0px;
    align-items: center;
    width: 80%;
  }

  .searchBar > input {
    background: transparent;
    border: 0px;
    height: 100%;
    width: 100%;
    outline: none;
  }

  .searchBar > img {
    width: 25px;
    padding: .5rem;
  }

  #searchSection {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

/*--------------------*/


#joinLogInButtons a {
  outline: none;
  color: black;
  text-decoration: none;
  padding: .3rem 1.2rem;
  font-size: 14px;
}

#join {
  border: 1px solid #cccccc;
}


/*------Build Amazing Things------*/


  #buildAmazingThings {
    background-color: #F8F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
  }

  #buildAmazingThings > h1 {
    font-size: 64px;
  }

  #buildAmazingThings > article {
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .seePlans {
    margin: 1rem 0;
  }

  #seePlans {
    background-color: #FB3B49;
    color: white;
    text-decoration: none;
    padding: 1rem 5rem;
    font-size: medium;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin: 1rem;
  }

  #joinForFree {
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 5rem;
    font-size: medium;
    margin: 1rem;
  }


/*--------------------*/


/*------Bring The Best------*/


  #bringTheBest {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
  }

  #bringTheBest > h2 {
      font-size: 32px;
      text-align: center;
      background-color: rgba(255,204,53,.4);
      transform: skew(9deg,0deg);
      font-style: italic;
      padding: 0 2rem;
      margin-top: 4rem;
    }

  #bringTheBest > article {
    width: 50%;
    text-align: center;
    margin-bottom: 6rem;
  }

  #bringTheBest > img{
    width: 250px;
  }


/*--------------------*/

#createAnOrg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details {
  display: flex;
  margin: 0 10%;
  justify-content: space-between;
}

.details div {
  margin: 0 1rem;
}

.details img {
  width: 40px;
}

.details h3 {
  color: #ED1C24;
}

#createOrgButton {
  color: white;
  text-decoration: none;
  background-color: black;
  font-weight: bold;
  padding: 1rem 10%;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  margin-top: 4rem;
}