@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npmLogo {
  width: 150px;
}

form {
  display: flex;
}

form > input {
  background-color: rgba(0,0,0,.05);
  border: 0px;
}

form > button {
  background-color: #fb3e44;
  color: white;
  border: 0px;
}

label > img {
  width: 25px;
}

#buildAmazingThings {
  background-color: #F8F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buildAmazingThings > h1 {
  font-size: 64px;
}

#bringTheBest {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bringTheBest > img{
  width: 250px;
}

.details {
  display: flex;

}

.details img {
  width: 50px;
}
